# Output
output/
cache/
backup/
logs/

# Runtime
*.log
*.tmp
*.bak

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secret
secret.env

# Generated Config
/etc/dnsdist/
/etc/unbound/

# Swap
swapfile

